<ion-item class="course" lines="full">
  <ion-label>
    <div class="course--title">
      <ion-text color="dark">{{ displayName }}</ion-text>
    </div>
    <div class="course--organization">
      <ion-text color="medium">
        {{ organization }} &bull; {{ location }}
      </ion-text>
    </div>
    <div class="course--rate">
      <ion-icon color="warning" name="star"></ion-icon>
      &nbsp;
      <ion-text color="medium">{{ rate !== null ? rate : 'N/A' }} ({{ numberOfRate !== null ? numberOfRate : 0 }})
      </ion-text>
    </div>
  </ion-label>
</ion-item>
